.u-center-text { text-align: center !important; }
// .u-margin-bottom-small { margin-bottom: 1.5rem !important; }
// .u-margin-bottom-medium { margin-bottom: $normal-margin !important; }
// .u-margin-bottom-small { margin-bottom: $small-margin !important; }
// .u-margin-bottom-medium { margin-bottom: 4rem !important; 
//     // @include respond(tab-port) {
//     //     margin-bottom: 3rem !important;
//     // }

// }

.d-flex{
    display: flex;
}
.justify-content-space{
    justify-content: space-between;
}
