.category{
    &__header{
        // display: none;
        display: flex;
        justify-content: space-between;
        // flex-wrap: wrap;
        gap: 2rem;
        // *{
        //     flex-basis: 30%;
        // }
    }
}